<!DOCTYPE html>

  <%- include('./shared/header.ejs')%>
  <%- include('./shared/navbar.ejs')%>

  <div class="container">
      <p class="alert alert-danger">Page Not Found</p>
  </div>

  <%- include('./shared/footer.ejs')%>